@model IEnumerable<Login.VO.FunctionVO>
@{
    ViewBag.Title = "FunctionAddEditDelete";
}

<h2>功能新增修改刪除</h2>
@if (Session["LoginInfo"] != null)
{
    var LoginInfo = ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl;
    foreach (var item in LoginInfo)
    {
        if (item.Url == "Function/AddFunction")
        {
            <!-- #region 新增功能 -->
            <div class="row">
                <label for="textFunctionUrl" class="col-md-1">*@Html.DisplayNameFor(model => model.Url)</label>
                <input type="text" class="form-control col-md-3" id="textFunctionUrl" name="textFunctionUrl" placeholder="Url">
                <label class="col-md-2">*是否為Menu</label>
                <div class="form-check col-md-1">
                    <input class="form-check-input position-static" type="checkbox" id="chkIsMenu">
                </div>
            </div>
            <div class="row my-3">
                <label for="textFunctionTitle" class="col-md-1">@Html.DisplayNameFor(model => model.Title)</label>
                <input type="text" class="form-control col-md-3" id="textFunctionTitle" name="textFunctionTitle" placeholder="Title">
                <div class="col-md-5" id="divParent" hidden="hidden">
                    <label for="textFunctionParent">@Html.DisplayNameFor(model => model.ParentName)</label>
                    <select id="cbFunctionParent" name="cbFunctionParent"></select>
                </div>
            </div>
            <div class="row my-3">
                <label for="textFunctionDescription" class="col-md-1">@Html.DisplayNameFor(model => model.Description)</label>
                <input type="text" class="form-control col-md-3" id="textFunctionDescription" name="textFunctionDescription" placeholder="敘述">
                <button class="btn btn-primary mx-3" href="#" id="addFunctionBtn">新增</button>
            </div>

            <!-- #endregion -->
        }

        if (item.Url == "Function/QueryFunction")
        {
            <!-- #region 查詢 -->
            <hr />
            <div class="row">
                <label for="textQueryUrl" class="col-md-1">@Html.DisplayNameFor(model => model.Url)</label>
                <input type="text" class="form-control col-md-3" id="textQueryUrl" name="textQueryUrl" placeholder="Url">
                <label class="col-md-2">是否為Menu</label>
                <div class="form-check col-md-1">
                    <input class="form-check-input position-static" type="checkbox" id="chkQueryIsMenu">
                </div>
            </div>
            <br />
            <div class="row">
                <label for="textQueryTitle" class="col-md-1">@Html.DisplayNameFor(model => model.Title)</label>
                <input type="text" class="form-control col-md-3" id="textQueryTitle" name="textQueryTitle" placeholder="名稱">
                <button class="btn btn-primary mx-3" id="btnQueryFunction">查詢</button>
            </div>
            <br />
            <!-- #endregion -->
        }
    }

    <!-- #region Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FunctionID)</th>
                <th>@Html.DisplayNameFor(model => model.Url)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>IsMenu</th>
                <th>@Html.DisplayNameFor(model => model.ParentName)</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody id="functionQueryTbody">
        </tbody>
    </table>
    <!-- #endregion-->

}

<script>
    (function () {

    // #region 綁定新增事件
    $("#addFunctionBtn").on("click", function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddFunction", "Function")",
            data: JSON.stringify({
                "Url": $("#textFunctionUrl").val(),
                "Description": $("#textFunctionDescription").val(),
                "IsMenu": $("#chkIsMenu").prop("checked"),
                "Parent": $("#chkIsMenu").prop("checked") === false ? -1 : $("#cbFunctionParent").val(),
                "Title": $("#textFunctionTitle").val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            alert("Add success");
              window.location.href = "@Url.Action("FunctionAddEditDelete", "Function")";
        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });
    });

    // #endregion

    // #region 綁定是否為選單的checkBox事件
    $("#chkIsMenu").on("click", function () {
        // 勾起來的話
        if ($("#chkIsMenu").prop("checked") === true) {
            $("#divParent").prop("hidden", false);

            $("#cbFunctionParent").empty();
            $("#cbFunctionParent").append($('<option>', {
                value: 0,
                text: '無'
            }));

        // 取得下拉式選單資料
        $.ajax({
        type: "POST",
        url: "@Url.Action("FunctionGetParentData", "Function")",
        contentType: "application/json; charset=utf-8",
        dataType: "json"
             }).done(function (data) {
                 if (data.length !== 0) {
                     for (var i = 0; i < data.length; i++) {
                         var option = $('<option value="' + data[i].Key + '" >' + data[i].Value + '</option>');
                         $("#cbFunctionParent").append(option);
                     }
                 }
    }).fail(function (data) {
        if (data.responseJSON != undefined) {
            var Message = data.responseJSON.Message;
            console.log(Message);
            alert("fail Message:" + Message);
        }
        else {
            window.location.href = data.responseText;
        }
    });

        // 取消打勾的時候
        } else {
            $("#divParent").prop("hidden", true);
            $("#cbFunctionParent").empty();
        }
    });

    // #endregion

    // 綁定查詢事件
    $("#btnQueryFunction").on("click", SetAuth);

    }());

    function SetAuth() {

        // #region 取得授權資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAuthList", "Account")",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (auData) {
            if (auData != undefined) {
                QueryFunction(auData.SecurityUrl);
            }
        }).fail(function (auData) {
            if (auData.responseJSON != undefined) {
                var Message = auData.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            }
        });
        // #endregion
    }

    function QueryFunction(loginInfo) {

        $('#btnQueryFunction').prop("disabled", true);

        $('#functionQueryTbody').empty();

        // #region 取得功能資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("QueryFunction", "Function")",
            //data: JSON.stringify({
            //    "WhereCondition": [{ "Key": "RoleName", "Value": $("#textQueryRoleName").val() }]
            //}),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            for (var i = 0; i < data.length; i++) {

                var cell1 = $('<td></td>').text(data[i].FunctionID);
                var cell2 = $('<td><label id="labFunctionUrl_' + data[i].FunctionID + '">' + data[i].Url + '</label><input type="text" id="textFunctionUrl_' + data[i].FunctionID + '" value="' + data[i].Url + '" hidden></td>');
                var cell3 = $('<td><lable id="labTitle_' + data[i].FunctionID + '">' + data[i].Title + '</lable><input type="text" id="textTitle_' + data[i].FunctionID + '" value="' + data[i].Title + '" hidden /></td>');
                var cell4 = $('<td><lable id="labDescription_' + data[i].FunctionID + '">' + data[i].Description + '</lable><input type="text" id="textDescription_' + data[i].FunctionID + '" value="' + data[i].Description + '" hidden /></td>');
                var cell5 = $('<td><lable id="labIsMenu_' + data[i].FunctionID + '">' + data[i].IsMenu + '</lable><input type="checkbox" id="ckIsMenu_' + data[i].FunctionID + '"' + (data[i].IsMenu ? " checked " : " ") + '" hidden /></td>');

                var cell6 = $('<td><lable id="labParentName_' + data[i].FunctionID + '">' + data[i].ParentName + '</lable><select id="cbParentName_' + data[i].FunctionID + '" hidden ></select><lable id="labParentNameVal_' + data[i].FunctionID + '" hidden>' + data[i].Parent + '</lable></td>');

                var cell7 = $('<td></td>');

                if (loginInfo != undefined) {

                    //if (loginInfo.find(o => o.Url == "Function/EditFunction") != undefined)
                    if (loginInfo.find(function (o) { return o.Url === "Function/EditFunction" }) !== undefined)
                    {
                        var btn1 = $('<button class="btn btn-primary mx-2" id="btnEdit_' + data[i].FunctionID + '" onclick="EditFunction(' + data[i].FunctionID + ')">編輯</button>');
                        var btn2 = $('<button class="btn btn-success mx-2" id="btnSave_' + data[i].FunctionID + '" onclick="SaveFunction(' + data[i].FunctionID + ')" hidden>儲存</button>');
                        var btn3 = $('<button class="btn btn-secondary mx-2" id="btnCancle_' + data[i].FunctionID + '" onclick="CancleFunction(' + data[i].FunctionID + ')" hidden>取消</button>');
                        cell7.append([btn1, btn2, btn3]);
                    }
                    //if (loginInfo.find(o => o.Url == "Function/DeleteFunction") != undefined)
                    if (loginInfo.find(function (o) { return o.Url === "Function/DeleteFunction" }) !== undefined)
                    {
                        var btn4 = $('<button class="btn btn-danger" onclick="DeleteFunction(' + data[i].FunctionID + ')">刪除</button>');
                        cell7.append([btn4]);
                    }
                }

                var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4, cell5, cell6, cell7]);

                $("#functionQueryTbody").append(row);
            }

            $('#btnQueryFunction').prop("disabled", false);

        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });

        // #endregion

    }

    function EditFunction(id) {
        $("#btnEdit_" + id).prop("hidden", true);
        $("#btnSave_" + id).prop("hidden", false);
        $("#btnCancle_" + id).prop("hidden", false);
        $("#labFunctionUrl_" + id).prop("hidden", true);
        $("#textFunctionUrl_" + id).prop("hidden", false);
        $("#labTitle_" + id).prop("hidden", true);
        $("#textTitle_" + id).prop("hidden", false);
        $("#labDescription_" + id).prop("hidden", true);
        $("#textDescription_" + id).prop("hidden", false);
        $("#labIsMenu_" + id).prop("hidden", true);
        $("#ckIsMenu_" + id).prop("hidden", false);

        $("#ckIsMenu_" + id).on("click", function () {
            if ($("#ckIsMenu_" + id).prop("checked") === true) {
                $("#cbParentName_" + id).prop("hidden", false);

                $("#cbParentName_" + id).empty();
                $("#cbParentName_" + id).append($('<option>', {
                    value: 0,
                    text: '無'
                }));

                GetParentKeyValue(id);
            }
            else {
                $("#cbParentName_" + id).prop("hidden", true);
            }
        });

        $("#labParentName_" + id).prop("hidden", true);

         // 取得下拉式選單資料
        if ($("#ckIsMenu_" + id).prop("checked") === true) {
            $("#cbParentName_" + id).prop("hidden", false);

            $("#cbParentName_" + id).empty();
            $("#cbParentName_" + id).append($('<option>', {
                value: 0,
                text: '無'
            }));

            GetParentKeyValue(id);

        } else {
            $("#cbParentName_" + id).empty();
        }
    }

    function GetParentKeyValue(id) {

        // #region 取得上層下拉式選單資料
         $.ajax({
                type: "POST",
                url: "@Url.Action("FunctionGetParentData", "Function")",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (data) {
                if (data.length !== 0) {
                    for (var i = 0; i < data.length; i++) {
                        var option = $('<option value="' + data[i].Key + '" >' + data[i].Value + '</option>');
                        $("#cbParentName_" + id).append(option);
                    }

                    $("#cbParentName_" + id).val($("#labParentNameVal_" + id).text());
                }
            }).fail(function (data) {
                if (data.responseJSON != undefined) {
                    var Message = data.responseJSON.Message;
                    console.log(Message);
                    alert("fail Message:" + Message);
                }
                else {
                    window.location.href = data.responseText;
                }
            });

        // #endregion

    }

    function SaveFunction(id) {

        // #region 儲存功能
        $.ajax({
              type: "POST",
              url: "@Url.Action("EditFunction", "Function")",
                      data: JSON.stringify({
                  "FunctionID": id,
                  "Url": $("#textFunctionUrl_" + id).val(),
                  "Title": $("#textTitle_" + id).val(),
                  "Description": $("#textDescription_" + id).val(),
                  "IsMenu": $("#ckIsMenu_" + id).prop("checked"),
                  "Parent": $("#ckIsMenu_" + id).prop("checked") === false ? -1 : $("#cbParentName_" + id).val()
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
        }).done(function (data) {
            alert("Edit success");
            SetAuth();

        }).fail(function (data) {
              if (data.responseJSON != undefined) {
                  var Message = data.responseJSON.Message;
                  console.log(Message);
                  alert("fail Message:" + Message);
              }
              else {
                  window.location.href = data.responseText;
              }
        });

        // #endregion

        $("#labFunctionUrl_" + id).text($("#textFunctionUrl_" + id).val());
        $("#labTitle_" + id).text($("#textTitle_" + id).val());
        $("#labDescription_" + id).text($("#textDescription_" + id).val());
        if ($("#ckIsMenu_" + id).prop("checked") === true) {
            $("#labIsMenu_" + id).text("True");
            $("#labParentName_" + id).text($("#cbParentName_" + id + ">option:selected").text());
        } else {
            $("#labIsMenu_" + id).text("False");
            $("#labParentName_" + id).text("Not Menu");
        }

        $("#btnEdit_" + id).prop("hidden", false);
        $("#btnSave_" + id).prop("hidden", true);
        $("#btnCancle_" + id).prop("hidden", true);
        $("#labFunctionUrl_" + id).prop("hidden", false);
        $("#textFunctionUrl_" + id).prop("hidden", true);
        $("#labTitle_" + id).prop("hidden", false);
        $("#textTitle_" + id).prop("hidden", true);
        $("#labDescription_" + id).prop("hidden", false);
        $("#textDescription_" + id).prop("hidden", true);
        $("#labIsMenu_" + id).prop("hidden", false);
        $("#ckIsMenu_" + id).prop("hidden", true);

        $("#labParentName_" + id).prop("hidden", false);
        $("#cbParentName_" + id).prop("hidden", true);
        $("#cbParentName_" + id).empty();
    }

    function CancleFunction(id) {
        $("#textFunctionUrl_" + id).val($("#labFunctionUrl_" + id).text());
        $("#textTitle_" + id).val($("#labTitle_" + id).text());
        $("#textDescription_" + id).val($("#labDescription_" + id).text());
        if ($("#labIsMenu_" + id).text() === "true") {
            $("#ckIsMenu_" + id).prop("checked", true);
        } else {
            $("#ckIsMenu_" + id).prop("checked", false);
        }

        $("#btnEdit_" + id).prop("hidden", false);
        $("#btnSave_" + id).prop("hidden", true);
        $("#btnCancle_" + id).prop("hidden", true);
        $("#labFunctionUrl_" + id).prop("hidden", false);
        $("#textFunctionUrl_" + id).prop("hidden", true);
        $("#labTitle_" + id).prop("hidden", false);
        $("#textTitle_" + id).prop("hidden", true);
        $("#labDescription_" + id).prop("hidden", false);
        $("#textDescription_" + id).prop("hidden", true);
        $("#labIsMenu_" + id).prop("hidden", false);
        $("#ckIsMenu_" + id).prop("hidden", true);

        $("#labParentName_" + id).prop("hidden", false);
        $("#cbParentName_" + id).prop("hidden", true);
        $("#cbParentName_" + id).empty();
    }

    function DeleteFunction(id) {

        if (confirm("你確定要刪除嗎？")) {

        // #region 刪除功能
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteFunction", "Function")",
            data: JSON.stringify({
                "id":id
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            alert("Delete success");
            SetAuth();
        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });

        // #endregion

              //alert("點選了確定");
        }
        else {
              //alert("點選了取消");
        }
    }
</script>