@model IEnumerable<Login.VO.RoleVO>
@{
    ViewBag.Title = "RoleFunctionEdit";
}

<h2>RoleFunctionEdit</h2>

@if (Session["LoginInfo"] != null)
{
    var LoginInfo = ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl;

    foreach (var item in LoginInfo)
    {
        if (item.Url == "Function/QueryRoleFunctionEditRole")
        {
            <!-- #region 查詢-->

            <div class="row" id="divSearchRole">
                <label for="textQueryRoleName" class="col-md-1">@Html.DisplayNameFor(model => model.RoleName)</label>
                <input type="text" class="form-control col-md-3" id="textQueryRoleName" name="textQueryRoleName" placeholder="角色名稱">
                <button class="btn btn-primary mx-3" id="btnQueryRole">查詢</button>
            </div>
            <br />

            <!-- #endregion-->
        }
    }

    <!-- #region 角色Table -->

    <table class="table table-bordered" id="roleTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RoleID)</th>
                <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody id="roleQueryTbody">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagUI">
        </ul>
    </nav>

    <!-- #endregion -->

    foreach (var item in LoginInfo)
    {
        if (item.Url == "Function/QueryRoleFunctionEditFunction")
        {
            <!-- #region 查詢-->
            <div id="divSearchFunction" hidden>
                @*<div class="row">
                    <label for="textQueryUrl" class="col-md-1">Url</label>
                    <input type="text" class="form-control col-md-3" id="textQueryUrl" name="textQueryUrl" placeholder="Url">
                    <label class="col-md-2">是否為Menu</label>
                    <div class="form-check col-md-1">
                        <input class="form-check-input position-static" type="checkbox" id="chkQueryIsMenu">
                    </div>
                </div>
                <br />*@
                <div class="row">
                    @*<label for="textQueryTitle" class="col-md-1">名稱</label>
                    <input type="text" class="form-control col-md-3" id="textQueryTitle" name="textQueryTitle" placeholder="名稱">*@
                    <button class="btn btn-primary mx-3" id="btnQueryFunction">查詢</button>
                </div>
                <br />
            </div>

            <!-- #endregion-->
        }
    }

    <!-- #region 角色與Function關聯Table -->
    <div><label id="roleNameShow"></label></div>
    <table class="table table-bordered" id="functionTable" hidden>
        <thead>
            <tr>
                <th>Check</th>
                <th>FunctionID</th>
                <th>Url</th>
                <th>名稱</th>
                <th>敘述</th>
                <th>是否為Menu</th>
                <th>上層</th>
            </tr>
        </thead>
        <tbody id="functionTableBody">
        </tbody>
    </table>
    <!-- #endregion -->

    foreach (var securityUrl in ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl)
    {
        if (securityUrl.Url == "Function/SaveRoleFunctionSetting")
        {
            <button class="btn btn-primary" id="saveSetting" hidden onclick="SaveSetting()">儲存設定</button>
            break;
        }
    }
    foreach (var securityUrl in ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl)
    {
        if (securityUrl.Url == "Function/CancleEditRoleFunction")
        {
            <button class="btn btn-secondary" id="cancleEditRoleFunction" hidden onclick="SaveReturnRoleData()">取消</button>
            break;
        }
    }
}

<script>
    var _pageNumber = 1;
    (function () {
        // 綁定查詢事件
        $("#btnQueryRole").on("click", SetAuthByRole);
        $("#btnQueryFunction").on("click", SetAuthByFunction);
    })();

 function SetAuthByRole() {

        // #region 取得授權資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAuthList", "Account")",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (auData) {
            if (auData != undefined) {
                QueryRole(auData.SecurityUrl);
            }
        }).fail(function (auData) {
            if (auData.responseJSON != undefined) {
                var Message = auData.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            } else {
                 window.location.href = "@Url.Action("ErrorPage", "Home")";
            }
        });
        // #endregion
    }

    function QueryRole(loginInfo) {

        $('#btnQueryRole').prop("disabled", true);

        $('#roleQueryTbody').empty();

        // #region 取得角色資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("QueryRoleFunctionEditRole", "Function")",
            data: JSON.stringify({
                "PageNumber": _pageNumber,
                "WhereCondition": [{ "Key": "RoleName", "Value": $("#textQueryRoleName").val() }]
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            var roleData = data.RoleData;

            for (var i = 0; i < roleData.length; i++) {

                var cell1 = $('<td></td>').text(roleData[i].RoleID);
                var cell2 = $('<td><label id="labRoleName_' + roleData[i].RoleID + '">' + roleData[i].RoleName + '</label><input type="text" id="textRoleName_' + roleData[i].RoleID + '" value="' + roleData[i].RoleName + '" hidden></td>');
                var cell3 = $('<td><lable id="labDescription_' + roleData[i].RoleID + '">' + roleData[i].Description + '</lable><input type="text" id="textDescription_' + roleData[i].RoleID + '" value="' + roleData[i].Description + '" hidden /></td>');

                var cell4 = $('<td></td>');

                if (loginInfo != undefined) {

                    //if (loginInfo.find(o => o.Url == "Function/GetFunctionByRole") != undefined)
                    if (loginInfo.find(function (o) { return o.Url === "Function/GetFunctionByRole" }) !== undefined)
                    {
                        var btn1 = $('<button class="btn btn-primary mx-2" onclick="EditRole(' + roleData[i].RoleID + ')">編輯</button>');
                        cell4.append([btn1]);
                    }
                }

                var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4]);

                $("#roleQueryTbody").append(row);
            }

            // 加入分頁UI

            // 處理分頁按鈕
            $("#pagUI > li").remove();

            // 上一頁
            var preLi = $("<li class='page-item'></li>");
            var prePage = parseInt(_pageNumber) - 1;
            if (prePage <= 0)
                prePage = 1;

            var preA = $("<a class='page-link' href='#' aria-label='Previous' onclick=Search(" + prePage + ")></a>");

            var preSpane = $("<span aria-hidden='true'>&laquo;</span>");
            var preSpane1 = $("<span class='sr-only'>Previous</span>");
            preA.append([preSpane, preSpane1]);
            preLi.append(preA);
            $("#pagUI").append(preLi);

            var tableMaxPage = data.TableMaxPage;

            for (var i = 0; i < tableMaxPage; i++) {
                var pagedata = (parseInt(i) + 1);
                if (i + 1 === _pageNumber) {
                    var li = $("<li class='page-item active'> </li>");
                    var a = $(" <a class='page-link' href='#' id='Page - +" + pagedata + ")' onclick='Search( " + pagedata + ")'> " + pagedata + "</a>");
                    li.append(a);
                    $("#pagUI").append(li);
                }
                else {
                    var li = $("<li class='page-item'> </li>");
                    var a = $(" <a class='page-link' href='#' id='Page - +" + pagedata + ")' onclick='Search( " + pagedata + ")'> " + pagedata + "</a>");
                    li.append(a);
                    $("#pagUI").append(li);
                }
            }

            // 下一頁
            var nexLi = $("<li class='page-item'></li>");
            var nexPage = parseInt(_pageNumber) + 1;
            if (nexPage >= tableMaxPage)
                nexPage = tableMaxPage;

            var nexA = $("<a class='page-link' href='#' aria-label='Next' onclick=Search(" + nexPage + ")></a>");

            var nexSpane = $("<span aria-hidden='true'>&raquo;</span>");
            var nexSpane1 = $("<span class='sr-only'>Next</span>");
            nexA.append([nexSpane, nexSpane1]);
            nexLi.append(nexA);
            $("#pagUI").append(nexLi);


            $('#btnQueryRole').prop("disabled", false);

        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                 window.location.href = "@Url.Action("ErrorPage", "Home")";
                 // window.location.href = data.responseText;
            }
        });

        // #endregion
    }

    function Search(page) {
        _pageNumber = page;
        SetAuthByRole();
    }

    function SetAuthByFunction() {

        // #region 取得授權資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAuthList", "Account")",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (auData) {
            if (auData != undefined) {
                QueryFunction(auData.SecurityUrl);
            }
        }).fail(function (auData) {
            if (auData.responseJSON != undefined) {
                var Message = auData.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            } else {
                 window.location.href = "@Url.Action("ErrorPage", "Home")";
            }
        });
        // #endregion
    }

    function QueryFunction(loginInfo) {
        $('#btnQueryFunction').prop("disabled", true);

        $('#functionTableBody').empty();

        // #region 取得該角色所選取的所有功能
         $.ajax({
            type: "POST",
            url: "@Url.Action("GetFunctionByRole", "Function")",
            data: JSON.stringify({
                "id": roleID
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            for (var i = 0; i < data.length; i++) {

                var cell1 = $('<td></td>');
                var checkBox = $('<input type="checkbox" />').prop("checked", data[i].Check);
                cell1.append(checkBox);

                var cell2 = $('<td></td>').text(data[i].FunctionID);
                var cell3 = $('<td></td>').text(data[i].Url);
                var cell4 = $('<td></td>').text(data[i].Title);
                var cell5 = $('<td></td>').text(data[i].Description);
                var cell6 = $('<td></td>').text(data[i].IsMenu);
                var cell7 = $('<td></td>').text(data[i].ParentName);
                var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4, cell5, cell6, cell7]);
                $("#functionTableBody").append(row);

                $("#saveSetting").prop("hidden", false);
                $('#btnQueryFunction').prop("disabled", false);
            }

        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                 window.location.href = "@Url.Action("ErrorPage", "Home")";
                 // window.location.href = data.responseText;
            }
        });
        // #endregion
    }

    //用來存取角色ID
    var roleID;

    //按下編輯角色按鈕時觸發的事件
    function EditRole(id) {
        $("#divSearchRole").prop("hidden", true);
        $("#divSearchFunction").prop("hidden", false);
        $("#roleTable").prop("hidden", true);
        $("#functionTable").prop("hidden", false);
        $("#functionTableBody").empty();
        $("#pagUI").prop("hidden", true);
        roleID = id;
        $("#roleNameShow").text($("#labRoleName_" + id).text());
        $("#cancleEditRoleFunction").prop("hidden", false);
    }

    // 按下儲存時，回到Role查詢畫面
    function SaveReturnRoleData() {
        $("#divSearchRole").prop("hidden", false);
        $("#divSearchFunction").prop("hidden", true);
        $("#roleTable").prop("hidden", false);
        $("#functionTable").prop("hidden", true);
        $("#functionTableBody").empty();
        $("#pagUI").prop("hidden", false);
        $("#saveSetting").prop("hidden", true);
        $("#roleNameShow").text("");
        $("#cancleEditRoleFunction").prop("hidden", true);
        SetAuthByRole();
    }

    //按下儲存設定時所觸發的事件
    function SaveSetting() {
               var arr = [];

        // #region 取得所選取的table資料組成Json格式
            $.each($("#functionTableBody > tr"), function (m, n) {

                var functionCheckVO = {};

                $.each(n.cells, function (x, y) {

                    switch (x) {
                        case 0:
                            if ($(y.children[0]).prop("checked") != true) {
                                return false;
                            }
                            functionCheckVO.Check = true;
                            break;
                        case 1:
                            functionCheckVO.FunctionID = $(y).text();
                            break;
                        case 2:
                            functionCheckVO.Url = $(y).text();
                            break;
                        case 3:
                            functionCheckVO.Description = $(y).text();
                            break;
                        default:
                    }
                });

                if (functionCheckVO.Check !== undefined) {
                     functionCheckVO.RoleID = roleID;
                    arr.push(functionCheckVO);
                }
            });

        // #endregion

            //上傳
        if (arr.length !== 0) {

        // #region 存取所勾選的資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveRoleFunctionSetting", "Function")",
            data: JSON.stringify(
                arr
            ),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            alert("Setting success");
             SaveReturnRoleData();
        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                 window.location.href = "@Url.Action("ErrorPage", "Home")";
                 // window.location.href = data.responseText;
            }
        });

                // #endregion

        } else {

        // #region 如果通通沒勾選時所觸發的清空方法
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveRoleFunctionSetting", "Function")",
              data: JSON.stringify(
                  { "roleID": roleID }
            ),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            alert("Setting success");
             SaveReturnRoleData();
        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                 window.location.href = "@Url.Action("ErrorPage", "Home")";
                 // window.location.href = data.responseText;
            }
        });
        // #endregion

        }
    }
</script>