@model IEnumerable<Login.VO.RoleVO>
@{
    ViewBag.Title = "RoleAddDelete";
}

<h2>角色新增修改刪除</h2>
@if (Session["LoginInfo"] != null)
{
    var LoginInfo = ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl;
    foreach (var item in LoginInfo)
    {
        if (item.Url == "Role/AddRole")
        {
            <!-- #region 角色新增 -->
            <div class="row">
                <label for="textRoleName" class="col-md-1">*@Html.DisplayNameFor(model => model.RoleName)</label>
                <input type="text" class="form-control col-md-3" id="textRoleName" name="textRoleName" placeholder="角色名稱">
            </div>
            <div class="row my-3">
                <label for="textRoleDescription" class="col-md-1">@Html.DisplayNameFor(model => model.Description)</label>
                <input type="text" class="form-control col-md-3" id="textRoleDescription" name="textRoleDescription" placeholder="敘述">
                <button class="btn btn-primary mx-3" href="#" id="btnAddRole">新增</button>
            </div>
            <hr />
            <!-- #endregion My Region -->
        }
        if (item.Url == "Role/QueryRole")
        {
            <!-- #region 查詢 -->
            <div class="row">
                <label for="textQueryRoleName" class="col-md-1">@Html.DisplayNameFor(model => model.RoleName)</label>
                <input type="text" class="form-control col-md-3" id="textQueryRoleName" name="textQueryRoleName" placeholder="角色名稱">
                <button class="btn btn-primary mx-3" id="btnQueryRole">查詢</button>
            </div>
            <br />
            <!-- #endregion -->
        }
    }

    <!--#region Table-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RoleID)</th>
                <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody id="roleQueryTbody">
        </tbody>
    </table>
    <!-- #endregion -->
}

<script>
        (function () {

            // 綁定查詢事件
            $("#btnQueryRole").on("click", SetAuth);

            // #region 綁定新增事件
            $("#btnAddRole").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddRole", "Role")",
                    data: JSON.stringify({
                        "RoleName": $("#textRoleName").val(),
                        "Description": $("#textRoleDescription").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function (data) {
                    alert("Add success");
                    SetAuth();
                      //window.location.href = "@Url.Action("RoleAddEditDelete", "Role")";
                }).fail(function (data) {
                    if (data.responseJSON != undefined) {
                        var Message = data.responseJSON.Message;
                        console.log(Message);
                        alert("fail Message:" + Message);
                    }
                    else {
                        window.location.href = data.responseText;
                    }
                });
            });

            // #endregion

    }());

    function SetAuth() {

        // #region 取得授權資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAuthList", "Account")",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (auData) {
            if (auData != undefined) {
                QueryRole(auData.SecurityUrl);
            }
        }).fail(function (auData) {
            if (auData.responseJSON != undefined) {
                var Message = auData.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            }
        });
        // #endregion
    }

    function QueryRole(loginInfo) {

        $('#btnQueryRole').prop("disabled", true);

        $('#roleQueryTbody').empty();

        // #region 取得角色資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("QueryRole", "Role")",
            data: JSON.stringify({
                "WhereCondition": "RoleName," + $("#textQueryRoleName").val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            for (var i = 0; i < data.length; i++) {

                var cell1 = $('<td></td>').text(data[i].RoleID);
                var cell2 = $('<td><label id="labRoleName_' + data[i].RoleID +'">' + data[i].RoleName + '</label><input type="text" id="textRoleName_' + data[i].RoleID + '" value="' + data[i].RoleName + '" hidden></td>');
                var cell3 = $('<td><lable id="labDescription_' + data[i].RoleID +'">' + data[i].Description + '</lable><input type="text" id="textDescription_' + data[i].RoleID +'" value="' + data[i].Description + '" hidden /></td>');

                var cell4 = $('<td></td>');

                if (loginInfo != undefined) {

                    //if (loginInfo.find(o => o.Url == "Role/EditRole") != undefined)
                    if (loginInfo.find(function (o) { return o.Url === "Role/EditRole" }) !== undefined)
                    {
                        var btn1 = $('<button class="btn btn-primary mx-2" id="btnEdit_' + data[i].RoleID + '" onclick="EditRole(' + data[i].RoleID + ')">編輯</button>');
                        var btn2 = $('<button class="btn btn-success mx-2" id="btnSave_' + data[i].RoleID + '" onclick="SaveRole(' + data[i].RoleID + ')" hidden>儲存</button>');
                        var btn3 = $('<button class="btn btn-secondary mx-2" id="btnCancle_' + data[i].RoleID + '" onclick="CancleRole(' + data[i].RoleID + ')" hidden>取消</button>');
                        cell4.append([btn1, btn2, btn3]);
                    }
                    // if (loginInfo.find(o => o.Url == "Role/DeleteRole") != undefined)
                    if (loginInfo.find(function (o) { return o.Url === "Role/DeleteRole" }) !== undefined)
                    {
                        var btn4 = $('<button class="btn btn-danger" onclick="DeleteRole(' + data[i].RoleID + ')">刪除</button>');
                        cell4.append([btn4]);
                    }
                }

                var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4]);

                $("#roleQueryTbody").append(row);
            }

            $('#btnQueryRole').prop("disabled", false);

        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });

        // #endregion
    }

    function EditRole(id) {
        $("#btnEdit_" + id).prop("hidden", true);
        $("#btnSave_" + id).prop("hidden", false);
        $("#btnCancle_" + id).prop("hidden", false);
        $("#labRoleName_" + id).prop("hidden", true);
        $("#textRoleName_" + id).prop("hidden", false);
        $("#labDescription_" + id).prop("hidden", true);
        $("#textDescription_" + id).prop("hidden", false);

    }

    function SaveRole(id) {

        // #region 儲存修改資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditRole", "Role")",
                    data: JSON.stringify({
                "RoleID": id,
                "RoleName": $("#textRoleName_" + id).val(),
                "Description": $("#textDescription_" + id).val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            alert("Edit success");
            SetAuth();
             // window.location.href = "@Url.Action("RoleAddEditDelete", "Role")";
        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });

        // #endregion

        $("#labRoleName_" + id).text($("#textRoleName_" + id).val());
        $("#labDescription_" + id).text($("#textDescription_" + id).val());
        $("#btnEdit_" + id).prop("hidden", false);
        $("#btnSave_" + id).prop("hidden", true);
        $("#btnCancle_" + id).prop("hidden", true);
        $("#labRoleName_" + id).prop("hidden", false);
        $("#textRoleName_" + id).prop("hidden", true);
        $("#labDescription_" + id).prop("hidden", false);
        $("#textDescription_" + id).prop("hidden", true);
    }

    function CancleRole(id) {
        $("#textRoleName_" + id).val($("#labRoleName_" + id).text());
        $("#textDescription_" + id).val($("#labDescription_" + id).text());
        $("#btnEdit_" + id).prop("hidden", false);
        $("#btnSave_" + id).prop("hidden", true);
        $("#btnCancle_" + id).prop("hidden", true);
        $("#labRoleName_" + id).prop("hidden", false);
        $("#textRoleName_" + id).prop("hidden", true);
        $("#labDescription_" + id).prop("hidden", false);
        $("#textDescription_" + id).prop("hidden", true);

    }

    function DeleteRole(id)
    {
        if (confirm("你確定要刪除嗎？")) {

        // #region 刪除角色資料
        $.ajax({
             type: "POST",
             url: "@Url.Action("DeleteRole", "Role")",
             data: JSON.stringify({
                 "id":id
             }),
             contentType: "application/json; charset=utf-8",
             dataType: "json"
         }).done(function (data) {
             alert("Delete success");
             SetAuth();
               //window.location.href = "@Url.Action("RoleAddEditDelete", "Role")";
         }).fail(function (data) {
             if (data.responseJSON != undefined) {
                 var Message = data.responseJSON;
                 console.log(Message);
                 alert("fail Message:" + Message);
             }
             else {
                 window.location.href = data.responseText;
             }
         });
            //alert("點選了確定");

            // #endregion

        }
        else {
            //alert("點選了取消");
        }

     }
</script>

