@model IEnumerable<Login.VO.RoleVO>
@{
    ViewBag.Title = "RoleUserEdit";
}

<h2>RoleUserEdit</h2>

@if (Session["LoginInfo"] != null)
{
    var LoginInfo = ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl;

    foreach (var item in LoginInfo)
    {
        if (item.Url == "Role/QueryRoleUserEditRole")
        {
            <!-- #region 查詢-->

            <div class="row" id="divSearchRole">
                <label for="textQueryRoleName" class="col-md-1">@Html.DisplayNameFor(model => model.RoleName)</label>
                <input type="text" class="form-control col-md-3" id="textQueryRoleName" name="textQueryRoleName" placeholder="角色名稱">
                <button class="btn btn-primary mx-3" id="btnQueryRole">查詢</button>
            </div>
            <br />

            <!-- #endregion-->
        }
    }

    <!-- #region 角色Table -->

    <table class="table table-bordered" id="roleTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RoleID)</th>
                <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody id="roleQueryTbody">
        </tbody>
    </table>

    <!-- #endregion -->

    foreach (var item in LoginInfo)
    {
        if (item.Url == "Role/QueryRoleUserEditUser")
        {
            <!-- #region 查詢-->
            <div id="divSearchUser" hidden>
                @*<div class="row">
                    <label for="textQueryUserAccount" class="col-md-1">帳號</label>
                    <input type="text" class="form-control col-md-3" id="textQueryUserAccount" name="textQueryUserAccount" placeholder="帳號">
                </div>
                <br />*@
                <div class="row">
                    @*<label for="textQueryUserName" class="col-md-1">使用者名稱</label>
                    <input type="text" class="form-control col-md-3" id="textQueryUserName" name="textQueryUserName" placeholder="使用者名稱">*@
                    <button class="btn btn-primary mx-3" id="btnQueryUser">查詢</button>
                </div>
                <br />
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="PagUI">
                </ul>
            </nav>
            <!-- #endregion-->
        }
    }

    <!-- #region 角色與User關聯Table -->
    <div><label id="roleNameShow"></label></div>
    <table class="table table-bordered" id="userTable" hidden>
        <thead>
            <tr>
                <th>Check</th>
                <th>UserID</th>
                <th>UserAccount</th>
                <th>UserName</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
        </tbody>
    </table>

    <!-- #endregion -->

    foreach (var securityUrl in ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl)
    {
        if (securityUrl.Url == "Role/SaveRoleUserSetting")
        {
            <button class="btn btn-primary" id="saveSetting" hidden onclick="SaveSetting()">儲存設定</button>
            break;
        }

    }
    foreach (var securityUrl in ((RoleBase.CurrentStatus.SecurityLevel)Session["LoginInfo"]).SecurityUrl)
    {
        if (securityUrl.Url == "Role/CancleEditRoleUser")
        {
            <button class="btn btn-secondary" id="cancleEditRoleUser" hidden onclick="SaveReturnRoleData()">取消</button>
            break;
        }
    }

}

<script>
    var pageNumber = 1;
    (function () {
        // 綁定查詢事件
        $("#btnQueryRole").on("click", SetAuthByRole);
        $("#btnQueryUser").on("click", SetAuthByUser);
    })();

    function SetAuthByRole() {

        // #region 取得授權資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAuthList", "Account")",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (auData) {
            if (auData != undefined) {
                QueryRole(auData.SecurityUrl);
            }
        }).fail(function (auData) {
            if (auData.responseJSON != undefined) {
                var Message = auData.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            }
        });
        // #endregion
    }

    function QueryRole(loginInfo) {

        $('#btnQueryRole').prop("disabled", true);

        $('#roleQueryTbody').empty();

        // #region 取得角色資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("QueryRoleUserEditRole", "Role")",
            data: JSON.stringify({
                "PageNumber": pageNumber,
                "WhereCondition": [{ "Key": "RoleName", "Value": $("#textQueryRoleName").val() }]
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            var roleData = data.RoleData;

            for (var i = 0; i < roleData.length; i++) {

                var cell1 = $('<td></td>').text(roleData[i].RoleID);
                var cell2 = $('<td><label id="labRoleName_' + roleData[i].RoleID + '">' + roleData[i].RoleName + '</label><input type="text" id="textRoleName_' + roleData[i].RoleID + '" value="' + roleData[i].RoleName + '" hidden></td>');
                var cell3 = $('<td><lable id="labDescription_' + roleData[i].RoleID + '">' + roleData[i].Description + '</lable><input type="text" id="textDescription_' + roleData[i].RoleID + '" value="' + roleData[i].Description + '" hidden /></td>');

                var cell4 = $('<td></td>');

                if (loginInfo != undefined) {

                    //if (loginInfo.find(o => o.Url == "Role/GetUserByRole") != undefined)
                    if (loginInfo.find(function (o) { return o.Url === "Role/GetUserByRole"}) !== undefined)
                    {
                        var btn1 = $('<button class="btn btn-primary mx-2" onclick="EditRole(' + roleData[i].RoleID + ')">編輯</button>');
                        cell4.append([btn1]);
                    }
                }

                var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4]);

                $("#roleQueryTbody").append(row);
            }

            // 加入分頁UI

            // 處理分頁按鈕
            $("#PagUI > li").remove();

            // 上一頁
            var preLi = $("<li class='page-item'></li>");
            var prePage = parseInt(pageNumber) - 1;
            if (prePage <= 0)
                prePage = 1;

            var preA = $("<a class='page-link' href='#' aria-label='Previous' onclick=Search(" + prePage + ")></a>");

            var preSpane = $("<span aria-hidden='true'>&laquo;</span>");
            var preSpane1 = $("<span class='sr-only'>Previous</span>");
            preA.append([preSpane, preSpane1]);
            preLi.append(preA);
            $("#PagUI").append(preLi);

            var tableMaxPage = data.TableMaxPage;

            for (var i = 0; i < tableMaxPage; i++) {
                var pagedata = (parseInt(i) + 1);
                if (i + 1 === pageNumber) {
                    var li = $("<li class='page-item active'> </li>");
                    var a = $(" <a class='page-link' href='#' id='Page - +" + pagedata + ")' onclick='Search( " + pagedata + ")'> " + pagedata + "</a>");
                    li.append(a);
                    $("#PagUI").append(li);
                }
                else {
                    var li = $("<li class='page-item'> </li>");
                    var a = $(" <a class='page-link' href='#' id='Page - +" + pagedata + ")' onclick='Search( " + pagedata + ")'> " + pagedata + "</a>");
                    li.append(a);
                    $("#PagUI").append(li);
                }
            }

            // 下一頁
            var nexLi = $("<li class='page-item'></li>");
            var nexPage = parseInt(pageNumber) + 1;
            if (nexPage >= tableMaxPage)
                nexPage = tableMaxPage;

            var nexA = $("<a class='page-link' href='#' aria-label='Next' onclick=Search(" + nexPage + ")></a>");

            var nexSpane = $("<span aria-hidden='true'>&raquo;</span>");
            var nexSpane1 = $("<span class='sr-only'>Next</span>");
            nexA.append([nexSpane, nexSpane1]);
            nexLi.append(nexA);
            $("#PagUI").append(nexLi);


            $('#btnQueryRole').prop("disabled", false);
        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });

        // #endregion
    }

    function Search(page) {
        pageNumber = page;
        SetAuthByRole();
    }

    function SetAuthByUser() {

        // #region 取得授權資料
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAuthList", "Account")",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (auData) {
            if (auData != undefined) {
                QueryUser(auData.SecurityUrl);
            }
        }).fail(function (auData) {
            if (auData.responseJSON != undefined) {
                var Message = auData.responseJSON.Message;
                console.log(Message);
                alert("fail Message:" + Message);
            }
        });
        // #endregion

    }

    function QueryUser(loginInfo) {

        $('#btnQueryUser').prop("disabled", true);

        $('#userTableBody').empty();

        // #region 取得該角色所選取的所有使用者
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUserByRole", "Role")",
            data: JSON.stringify({
                "id": roleID
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            for (var i = 0; i < data.length; i++) {

                var cell1 = $('<td></td>');
                var checkBox = $('<input type="checkbox" />').prop("checked", data[i].Check);
                cell1.append(checkBox);

                var cell2 = $('<td></td>').text(data[i].UserID);
                var cell3 = $('<td></td>').text(data[i].AccountName);
                var cell4 = $('<td></td>').text(data[i].UserName);
                var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4]);
                $("#userTableBody").append(row);
            }
            $("#saveSetting").prop("hidden", false);
            $('#btnQueryUser').prop("disabled", false);

        }).fail(function (data) {
            if (data.responseJSON != undefined) {
                var Message = data.responseJSON;
                console.log(Message);
                alert("fail Message:" + Message);
            }
            else {
                window.location.href = data.responseText;
            }
        });

        // #endregion

    }

    //用來存取角色ID
    var roleID;

    //按下編輯角色按鈕時觸發的事件
    function EditRole(id) {
        $("#divSearchRole").prop("hidden", true);
        $("#divSearchUser").prop("hidden", false);
        $("#roleTable").prop("hidden", true);
        $("#userTable").prop("hidden", false);
        $("#userTableBody").empty();
        $("#PagUI").prop("hidden", true);
        roleID = id;
        $("#roleNameShow").text($("#labRoleName_" + id).text());
        $("#cancleEditRoleUser").prop("hidden", false);
    }

    // 按下儲存時，回到Role查詢畫面
    function SaveReturnRoleData() {
        $("#divSearchRole").prop("hidden", false);
        $("#divSearchUser").prop("hidden", true);
        $("#roleTable").prop("hidden", false);
        $("#userTable").prop("hidden", true);
        $("#userTableBody").empty();
        $("#PagUI").prop("hidden", false);
        $("#saveSetting").prop("hidden", true);
        $("#roleNameShow").text("");
        $("#cancleEditRoleUser").prop("hidden", true);
        SetAuthByRole();
    }

    //按下儲存設定時所觸發的事件
    function SaveSetting() {

        var arr = [];

        // #region 取得所選取的table資料組成Json格式
            $.each($("#userTableBody > tr"), function (m, n) {

                var userCheckVO = {};

                $.each(n.cells, function (x, y) {

                    switch (x) {
                        case 0:
                            if ($(y.children[0]).prop("checked") != true) {
                                return false;
                            }
                            userCheckVO.Check = true;
                            break;
                        case 1:
                            userCheckVO.UserID = $(y).text();
                            break;
                        case 2:
                            userCheckVO.AccountName = $(y).text();
                            break;
                        case 3:
                            userCheckVO.UserName = $(y).text();
                            break;
                        default:
                    }
                });

                if (userCheckVO.Check !== undefined) {
                     userCheckVO.RoleID = roleID;
                    arr.push(userCheckVO);
                }
            });

        // #endregion

            //上傳
        if (arr.length !== 0) {

        // #region 存取所勾選的資料
                    $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveRoleUserSetting", "Role")",
                    data: JSON.stringify(
                        arr
                    ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function (data) {
                    alert("Setting success");
                    SaveReturnRoleData();
                      //window.location.href = "@Url.Action("RoleUserEdit", "Role")";
                }).fail(function (data) {
                    if (data.responseJSON != undefined) {
                        var Message = data.responseJSON;
                        console.log(Message);
                        alert("fail Message:" + Message);
                    }
                    else {
                        window.location.href = data.responseText;
                    }
                });

                // #endregion

        } else {

        // #region 如果通通沒勾選時所觸發的清空方法
                  $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveRoleUserSetting", "Role")",
                      data: JSON.stringify(
                          { "roleID": roleID }
                    ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function (data) {
                    alert("Setting success");
                    SaveReturnRoleData();
                      //window.location.href = "@Url.Action("RoleUserEdit", "Role")";
                }).fail(function (data) {
                    if (data.responseJSON != undefined) {
                        var Message = data.responseJSON;
                        console.log(Message);
                        alert("fail Message:" + Message);
                    }
                    else {
                        window.location.href = data.responseText;
                    }
                });

            // #endregion

        }

    }
</script>
